{% extends 'enroll/base.html' %}
{% load static %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title mb-0 font-size-18"> EDIT BRAND</h4>
                </div>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card mb-4">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Tag Name</label>
                            <input type="text" name="tag_name" class="form-control" value="{{ tag.tag_name }}"
                                required>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Update Tag</button>
                    <a href="{% url 'enroll:tags' %}" class="btn btn-secondary mt-4">Cancel</a>
                

                </form>
            </div>
        </div>
    </div>
    {% endblock %}