{% extends 'enroll/base.html' %}

{% load static %}

{% block title %}
<title>Edit Child Sub-Category | Category Management</title>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="page-title mb-0 font-size-18">Edit Child Sub-Category</h4>
            </div>

            {% if messages %}
            <div class="alert alert-dismissible">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    <form method="POST" enctype="multipart/form-data" class="p-4 shadow-sm bg-white rounded" style="align-items: center;">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="category">Category</label>
                            <select id="category" name="category" class="form-control">
                                {% for category in categories %}
                                <option value="{{ category.id }}" {% if category == child_subcategory.category %}selected{% endif %}>{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="subcategory">Subcategory</label>
                            <select id="subcategory" name="subcategory" class="form-control">
                                {% for subcategory in subcategories %}
                                <option value="{{ subcategory.id }}" {% if subcategory == child_subcategory.subcategory  %}selected{% endif %}>{{ subcategory.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="name">Child Subcategory Name</label>
                            <input type="text" id="name" name="name" class="form-control"
                                value="{{ child_subcategory.name }}" required>
                        </div>

                        <div class="form-group">
                            <label for="short_description">Short Description</label>
                            <input type="text" id="short_description" name="short_description" class="form-control"
                                value="{{ child_subcategory.short_description }}" required>
                        </div>

                        <div class="form-group">
                            <label for="long_description">Long Description</label>
                            <input type="text" id="long_description" name="long_description" class="form-control"
                                value="{{ child_subcategory.long_description }}" required>
                        </div>

                        <div class="form-group">
                            <label for="meta_title">Meta <Title></Title></label>
                            <input type="text" id="meta_title" name="meta_title" class="form-control"
                                value="{{ child_subcategory.meta_title }}" required>
                        </div>

                        <div class="form-group">
                            <label for="meta_description">Meta Description</label>
                            <input type="text" id="meta_description" name="meta_description" class="form-control"
                                value="{{ child_subcategory.meta_description }}" required>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Feature Category:</label>
                                <select name="feature_category" class="form-control form-control-lg">
                                    <option value="Yes" {% if child_subcategory.feature_category == True %}selected{% endif %}>
                                        Yes</option>
                                    <option value="No" {% if child_subcategory.feature_category == False %}selected{% endif %}>
                                        No</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status:</label>
                                <select name="status" class="form-control form-control-lg">
                                    <option value="Active" {% if child_subcategory.status == True %}selected{% endif %}>
                                        Active</option>
                                    <option value="Inactive" {% if child_subcategory.status == False %}selected{% endif %}>
                                        Inactive</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Current Image:</label><br>
                                {% if child_subcategory.image %}
                                <img src="{{ child_subcategory.image.url }}" alt="SubCategory Image" width="100"><br>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload New Image:</label>
                                <input type="file" name="image">
                            </div>
                        </div>




                        <button type="submit" class="btn btn-success" style="margin-right: 10px; background-color: #273c92; border-color: #273c92;">Update</button>
                        <a href="{% url 'enroll:manage_child_subcategories' %}" style ="background-color: #273c92; border-color: #273c92;" class="btn btn-secondary">Back</a>
                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("category").addEventListener("change", function() {
        let categoryId = this.value;
        let subcategoryDropdown = document.getElementById("subcategory");

        subcategoryDropdown.innerHTML = '<option value="">Select Subcategory</option>'; // Reset dropdown

        if (categoryId) {
            fetch(`/get_subcategories/?category_id=${categoryId}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(subcategory => {
                    let option = document.createElement("option");
                    option.value = subcategory.id;
                    option.textContent = subcategory.name;
                    subcategoryDropdown.appendChild(option);
                });
            });
        }
    });
</script>

{% endblock %}
