{% extends "enroll/base.html" %}

{% load static %}


{% block title %}
<title>Dashboard | User Management</title>
{% endblock %}

{% block extra_css %}
<style>
    body[data-sidebar="dark"] .vertical-menu {
        background: white !important;
    }

    body[data-sidebar=dark] .mm-active .active {
        color: grey !important;
    }

    body[data-sidebar=dark] .mm-active .active i {
        color: grey !important;
    }

    .noti-icon .badge {
        right: 0;
    }
</style>
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">Dashboard</h4>
                </div>
            </div>
        </div>

        
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div>
                                            <p class="text-muted font-weight-medium mt-1 mb-2">Orders</p>
                                            <h4>1,968</h4>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div>
                                            <div id="radial-chart-1"></div>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0"><span class="badge badge-soft-success mr-2"> 0.8% <i
                                            class="mdi mdi-arrow-up"></i> </span> From previous period</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div>
                                            <p class="text-muted font-weight-medium mt-1 mb-2">Revenue</p>
                                            <h4>$ 32,695</h4>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div>
                                            <div id="radial-chart-2"></div>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0"><span class="badge badge-soft-success mr-2"> 0.6% <i
                                            class="mdi mdi-arrow-up"></i> </span> From previous period</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Sales Report</h4>
                        <div class="row">
                            <div class="col-sm-7">
                                <div>
                                    <p class="mb-2">01 Jan - 31 Jan, 2020</p>
                                    <h4>$ 27, 253</h4>

                                    <p class="mt-4 mb-0"><span class="badge badge-soft-success mr-2"> 0.6% <i
                                                class="mdi mdi-arrow-up"></i> </span> From previous period</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mt-4 mt-sm-0">
                                    <div id="sales-report-chart" class="apex-charts"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Month</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Year</a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="card-title mb-4">Email Sent</h4>

                        <div id="mixed-chart" class="apex-charts"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">

            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p class="mb-2">Online</p>
                                <h4 class="mb-0">3,524</h4>
                            </div>
                            <div class="col-4">
                                <div class="text-right">
                                    <div>
                                        2.06 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
                                    </div>
                                    <div class="progress progress-sm mt-3">
                                        <div class="progress-bar" role="progressbar" style="width: 62%"
                                            aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p class="mb-2">Offline</p>
                                <h4 class="mb-0">5,362</h4>
                            </div>
                            <div class="col-4">
                                <div class="text-right">
                                    <div>
                                        3.12 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
                                    </div>
                                    <div class="progress progress-sm mt-3">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 78%"
                                            aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p class="mb-2">Marketing</p>
                                <h4 class="mb-0">6,245</h4>
                            </div>
                            <div class="col-4">
                                <div class="text-right">
                                    <div>
                                        2.12 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
                                    </div>
                                    <div class="progress progress-sm mt-3">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%"
                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Yearly sales</h4>

                        <div id="radar-chart" class="apex-charts"></div>

                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <!-- End Page-content -->
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

        
{% endblock %}